.profileCard {
  width: 320px;
  padding-top: 20px;
  padding-bottom: 0px;
  border: 2px solid #00c3ff;
  border-radius: 10px;
  text-align: center;

  font-family: Arial, sans-serif;
  background-color: #fafafa;
}

.profileAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.profileAvatar img {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 50%;
  background-color: #2e2e2e;
  object-fit: cover;
}

.profileUsername {
  margin: 10px 0 5px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.profileTag {
  margin-bottom: 5px;
  font-size: 16px;
  color: #777;
}

.profileLocation {
  margin-bottom: 15px;
  font-size: 16px;
  color: #999;
}

.profileStats {
  margin: 0px;
  display: flex;
  border-top: 2px solid #808080;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #d3d3d3;
}

.stat {
  padding: 15px;
  flex: 1;
  text-align: center;
  font-size: 14px;
  border-right: 2px solid #808080;
}

.stat:last-child {
  border-right: none;
}

.stat span:first-child {
  display: block;
  font-size: 14px;
  color: #555;
}

.stat span:last-child {
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #000;
}
